<!doctype html><!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do App</title>
</head>
<body>

    <form method="post" action="/todos/create">
        <input type="text" name="description" placeholder="Item description">
        <input type="submit" value="Create">
    </form>
    
    <ul class="todoList">
        {% for item in items %}
        <li class="item">{{ item.description }}</li>
        {% endfor %}
    </ul>
</body>
</html>

